*
!assets/
!assets/Splunk.License
!assets/splunk-mcp-server_200.tgz
!assets/dataset/
!assets/dataset/conf/
!assets/dataset/conf/**
!assets/dataset/logs/
!assets/dataset/logs/**
!assets/dataset/README.md
!assets/dataset/LICENSE
!assets/dataset/LICENSE-DATA
!target/
!target/splunk/
!target/splunk/**
